@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{box-sizing: border-box;
 padding: 0;
 margin: 0;
 font-family: 'Titillium Web', sans-serif;}

 body{background: rgb(13,77,10);
   background: linear-gradient(90deg, rgba(13,77,10,1) 1%, rgba(23,110,20,1) 17%, rgba(41,152,38,1) 34%, rgba(125,212,128,1) 75%, rgba(240,249,227,1) 100%);}
.EditBar{
    position:fixed;
    z-index: +3;
    padding:0;
    margin:0;
    transition: 0.4s ease;
    top:0;
    left:0;
    
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
 }
 .btn-main{border: none;
           background-color: rgb(16, 74, 44);
           padding: 8px;
           border-radius: 4px;
           color: azure;
           text-align: center;
           align-items: center;
           justify-content: center;
           display: flex;
           box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}

.btn-main:hover{background-color: rgb(24, 98, 59);}

.plus{padding-left: 3px;
      font-size: 23px;}

 .alter{
   position: absolute;
   right: 12px;
   bottom: 8px;
 } 
 .alter2{
   position: absolute;
   right: 35px;
   bottom: 8px;
 }   
 .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: rgb(187, 235, 211);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
 }
 h1{padding-left: 10px;
   color: rgb(8, 75, 29)}


 .textbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .EditBarIn{height: 30rem;
            width: 450px;
            background: rgb(22, 33, 22);
            display: flex;
            margin: auto;
            margin-top: 60px;
            align-items: center;
            position: relative;
            justify-content: center;
            flex-direction: column;
            transition: 0.4s ease;
            border-radius: 7px;
            line-height: 45px;
            gap: 20px;}

 textarea{border: none;
          resize: none;
          background: rgb(174, 217, 188);
          border-radius: 7px;
          padding: 10px;
          }
textarea:focus{ outline: none;}

.buttonbox{display: flex;
          margin-top: 20px;
           gap: 25px;}
.close{position: absolute;
       top: 15px;
       right: 15px;
       color: aliceblue;}
.close:hover{color: rgb(138, 239, 163);}

h3{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    color: azure;
}
.btn{
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  background: rgb(119, 200, 140);
  font-family: 'Titillium Web', sans-serif;
 font-weight: 600;
}
button:hover{background: rgb(183, 245, 206);}

.note{
     z-index: 1;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     position: relative;
     background-color: white;
     border-radius: 10px;
     padding: 1rem;
     height: 170px;
     min-height: 170px;
     white-space:pre-wrap;
     overflow:hidden ;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}

.App{
  z-index: -2;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right:15px;
  padding-left: 15px;
  
  height: 100vh;
}
.glass{
   position: absolute;
   text-align: center;
   top: 26%;
   font-size: 16px;
   margin-left: 10px;
   color: rgb(4, 67, 31);
}
.cont{position: relative;}

.notes-list{
    padding-top: 20px;
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.search{min-width: 200px;
   width: 300px;
    padding: 8px;
    padding-left: 33px;
    border: solid 3px rgb(8, 75, 29);
    border-radius: 4px;
    background: rgb(232, 239, 232);
    }
    .search:focus{
        outline: none;
      }
      .search::placeholder{
        color: rgb(8, 75, 29);
        font-weight: 600;
      }